.comments-container {

  display: grid;
  grid-template-columns: 2rem auto;
  grid-template-rows: 2rem auto auto;
  grid-template-areas:
                      "avatar header"
                      ". comment"
                      ". footer";

  .comment-avatar-wrapper {
    grid-area: avatar;
  }

  .comment-header-wrapper {
    grid-area: header;
  }

  .comment-content-wrapper {
    grid-area: comment;
  }

  .comment-footer-wrapper {
    grid-area: footer;
  }
}
