<section class="comment-container">

  <section class="comment-avatar-wrapper">
    <a class="avatar">
      <img src="https://semantic-ui.com/images/avatar/small/matt.jpg" alt="">
    </a>
  </section>

  <section class="comment-header-wrapper">
    <span>
      Arun Selva Kumar
    </span>
    <span>
      Today at 4:45 PM
    </span>
  </section>

  <section class="comment-content-wrapper">
    Comments Yae Yae!
  </section>

  <section class="comment-footer-wrapper">
    Reply
  </section>

</section>
