<section class="profile-details-container">

  <div class="profile-aboutme-header">
    a little about me,
  </div>

  <div class="profile-aboutme-content">
    iSheep. Avid Reader. Kholi. Introvert. Team IronMan. Movie Buff. Leo. Tea Person.
  </div>

  <div class="profile-location">

    <span class="header">

    </span>

    <span class="content">

    </span>

  </div>

  <div class="profile-dateofbirth">

    <span class="header">

    </span>

    <span class="content">

    </span>

  </div>

  <div class="profile-views">

    <span class="header">

    </span>

    <span class="content">

    </span>

  </div>

  <div class="profile-joineddate">

    <span class="header">

    </span>

    <span class="content">

    </span>

  </div>

</section>
