<article class="post border">
  <!-- Header Section -->
  <section class="header">
    <div class="avatar">
      <img class="profile-image" src="http://timedotcom.files.wordpress.com/2018/04/time-100-virat-kohli1.jpg" alt="">
    </div>
    <div class="user">
      <div class="username">
        Arun Selva Kumar
      </div>
      <span class="time">
          <fa name="calendar"></fa>
          14 hrs ago
        </span>
    </div>
    <div class="options">
      <fa class="first-circle" name="circle"></fa>
      <fa class="last-circle" name="circle"></fa>
    </div>
  </section>
  <section class="content">

    <div class="title">
      {{title}}
    </div>
    <div class="image">
      <a  routerLink="/post/{{postId}}">
        <ngui-inview>
          <img *ngIf [src]="imgSrc">
        </ngui-inview>
      </a>
    </div>
  </section>
  <section class="footer">
      <span>
        <fa name="share"></fa>
        Share
      </span>
    <span>
        <fa name="comments"></fa>
        99
      </span>
    <span>
        <fa name="thumbs-down"></fa>
        67
      </span>
    <span>
        <fa name="thumbs-up"></fa>
        13
      </span>
  </section>
</article>
