<section class="addpost-container">

  <section class="content" *ngIf="isSelectionButtonsVisible; else selectionTemplate">

    <section class="computer-wrapper" role="button" (click)="onSelectFromComputerButtonClicked()">

      <div class="icon">
        <fa name="laptop" size="5x"></fa>
      </div>
      From Computer

    </section>

    <section class="templates-wrapper" role="button" (click)="onSelectFromTemplatesButtonClicked()">

      <div class="icon">
        <fa name="folder" size="5x"></fa>
      </div>
      From Templates

    </section>

    <section class="url-wrapper" role="button" (click)="onSelectFromUrlButtonClicked()">

      <div class="icon">
        <fa name="globe" size="5x"></fa>
      </div>
      From URL

    </section>

  </section>

  <ng-template #selectionTemplate>
    <section class="templates">
      Hello World
    </section>
  </ng-template>

</section>
