<section class="addpost-container">

  <ng-container
    *ngIf="isSelectionButtonsVisible; then selectionButtons; else selectionTemplate">
  </ng-container>

  <ng-template #selectionButtons>
    <section class="content">

      <section class="computer-wrapper" role="button" (click)="onSelectFromComputerButtonClicked()">

        <div class="icon">
          <fa name="laptop" size="5x"></fa>
        </div>
        From Computer

      </section>

      <section class="templates-wrapper" role="button" (click)="onSelectFromTemplatesButtonClicked()">

        <div class="icon">
          <fa name="folder" size="5x"></fa>
        </div>
        From Templates

      </section>

      <section class="url-wrapper" role="button" (click)="onSelectFromUrlButtonClicked()">

        <div class="icon">
          <fa name="globe" size="5x"></fa>
        </div>
        From URL

      </section>

    </section>
  </ng-template>

  <ng-template #selectionTemplate>

      <section class="computer-upload-container" *ngIf="isSelectFromComputerTemplateVisible">Computer Upload</section>

      <section class="templates-upload-wrapper" *ngIf="isSelectFromTemplateVisible">

          <app-templates-list></app-templates-list>
        
      </section>

      <section class="url-upload-wrapper" *ngIf="isSelectFromUrlVisible">

        <section class="url-upload-container">

          <section class="header">
            New Post
          </section>

          <section class="icon">
            <fa name="globe"></fa>
          </section>

          <section class="form-content">
            <form action="" class="form">

              <div class="field">
                <label class="label">Title</label>

                <div class="input">
                  <input type="text" placeholder="Title">
                </div>
              </div>

              <div class="field">
                <label class="label">URL</label>

                <div class="input">
                  <input type="url" placeholder="URL">
                </div>
              </div>

              <div class="field">
                <label class="label">Category</label>

                <div class="select">

                  <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>

                </div>
              </div>

              <div class="field">
                <label class="label">Tags</label>

                <div class="input">
                  <input type="text" placeholder="Tags">
                </div>
              </div>

            </form>
          </section>

          <section class="footer">
            <div class="btn">Post</div>
          </section>

        </section>

      </section>

  </ng-template>

</section>
