@import "../../../../scss/media-queries";
@import "../../../../scss/variables";

.feeds-list-container {
  padding: 0.6rem;
  display: grid;
  grid-gap: 0.6rem;
  grid-template-columns: 1fr;
}

@include respond-above(xs) {
  .feeds-list-container {
    grid-template-columns: 1fr 1fr;
  }
}

@include respond-above(md) {
  .feeds-list-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include respond-above(xl) {
  .feeds-list-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
