@import "../../../../scss/media-queries";

.feeds-list-container {
  padding: 0;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr;

  .post {
    background: hotpink;
    .header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .time {
        align-self: flex-end;
        text-align: right;
      }
    }
  }
}

@include respond-above(xs) {
  .feeds-list-container {
    grid-template-columns: 1fr 1fr;
  }
}

@include respond-above(md) {
  .feeds-list-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include respond-above(md) {
  .feeds-list-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
