<section class="templates-list-container">
  <article class="template-item-wrapper">
    <div>
      <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
    </div>
  </article>
  <article class="template-item-wrapper">
    <div>
      <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
    </div>
  </article>
  <article class="template-item-wrapper">
    <div>
      <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
    </div>
  </article>
  <article class="template-item-wrapper">
    <div>
      <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
    </div>
  </article>
  <article class="template-item-wrapper">
    <div>
      <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
    </div>
  </article>
  <article class="template-item-wrapper">
    <div>
      <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
    </div>
  </article>
  <article class="template-item-wrapper">
    <div>
      <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
    </div>
  </article>
</section>