<section class="templates-list-container">

  <section class="navbar">
    <nav>
      <ul>
        <li (click)="onTrendingSelected()">Trending</li>
        <li (click)="onRecommendedSelected()">Recommended</li>
        <li (click)="onFromNetworkSelected()">From Network</li>
      </ul>
    </nav>
  </section>

  <section class="contents">

    <article class="template-item-wrapper">
      <div>
        <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
      </div>
    </article>
    <article class="template-item-wrapper">
      <div>
        <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
      </div>
    </article>
    <article class="template-item-wrapper">
      <div>
        <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
      </div>
    </article>
    <article class="template-item-wrapper">
      <div>
        <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
      </div>
    </article>
    <article class="template-item-wrapper">
      <div>
        <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
      </div>
    </article>
    <article class="template-item-wrapper">
      <div>
        <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
      </div>
    </article>
    <article class="template-item-wrapper">
      <div>
        <img src="https://c.ndtvimg.com/2018-12/8dm730i8_virat-kohli-india-vs-australia_625x300_23_December_18.jpg" alt="">
      </div>
    </article>

  </section>
</section>
