@import "../../../../scss/variables";
@import "../../../../scss/media-queries";

.navbar-container {

  margin: 0;
  padding: 0.5rem;
  background: $white-color;
  font-size: 0.8rem;
  text-align: center;

  .navigation-wrapper {

    ul {

      list-style-type: none;
      margin: 0;
      padding: 0;

      li {

        display: inline;
        margin-right: 1rem;

        a {

          color: $profile-details-background;
          text-decoration: none;

        }
      }
    }
  }
}

@include respond-above(xs) {

  .navbar-container {
    padding: 0.8rem;
    font-size: 1rem;

    .navigation-wrapper {

      ul {

        li {

          margin-right: 3rem;

        }
      }
    }
  }
}
