<section class="tags-container">
  <div class="header">
    <div class="title">Current Tags</div>
    <fa class="question-circle" name="question-circle"></fa>
  </div>
  <ul>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
    <li>
      <div> <a href="#">Tag 1</a> </div>
      <div class="info">24K Posts</div>
    </li>
  </ul>
</section>
