@import "../../../../scss/variables";

.tags-container {
  background: $white-color;
  padding: 1rem;

  .header {
    display: grid;
    grid-template-columns: auto auto;

    .title {
      font-size: 1.563rem;
      font-weight: 400;
    }

    .question-circle {
      align-self:center;
      justify-self: end;
      text-align: right;
      color: $pink-color;
    }
  }
  ul {
    list-style-type: none;
    margin: 0.5rem 0;
    padding: 0;

    li {
      padding: 0.2rem;

      .info {
        padding: 0.1rem;
        font-size: 0.8rem;
        color: $darkgrey-color;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
