@import "~src/scss/variables";

.profile-scrap-container {

  display: grid;
  grid-template-columns: 200px auto;
  grid-gap: 0.4rem;
  padding: 0.6rem;
  color: $darkgrey-color;

  .profile-information-container {

    font-size: 0.9rem;
    text-align: center;

    .profile-image-wrapper {

      .profile-image {
        height: 7rem;
        width: 7rem;

        border-radius: 50%;
      }
    }

  }

  .scrap-content-wrapper {

    padding: 0.6rem;
    font-size: 0.9rem;

    .scrap-content-header {

      text-align: right;

    }

  }

}
