<article class="post-container">
 <section class="title">
    All things are difficult before they are easy!
  </section>
  <section class="content cards-border">
    <img src="https://source.unsplash.com/random">
  </section>
  <section class="post-details">
    <section class="ad-section">
      <ng-adsense></ng-adsense>
    </section>
    <section class="widget border">
      <section class="user">
        <div>
          <img src="https://timedotcom.files.wordpress.com/2018/04/time-100-virat-kohli1.jpg" alt="">
        </div>
        <div class="name">Arun Selva Kumar</div>
      </section>
      <section class="stats">
        <section>
          <div>Post Views</div>
          <div>23</div>
        </section>

        <section>
          <div>Posted On</div>
          <div>1st December, 2018</div>
        </section>

        <section>
          <div>Tags</div>
          <div>Tag 1</div>
        </section>
      </section>
    </section>
  </section>
  <section class="comments">
    Comments
  </section>
</article>
