<header class="header-container">
  <div class="logo-wrapper">
    One 12
  </div>
  <nav class="navigation-wrapper">
    <ul>
      <li><a name="Blog" routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li><a name="Help" routerLink="/help" routerLinkActive="active">Help</a></li>
      <li><a name="Feedback" routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
      <li><a name="Login" href="#">Login</a></li>
    </ul>
  </nav>
  <div class="login-wrapper">
    <fa name="bars"></fa>
  </div>
</header>
