@import "../../../../scss/variables";
@import "../../../../scss/media-queries";

.home {
  max-width: 120rem;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
                      "header"
                      "content";

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;

    .addpost-button {

      background-color: #30338F;
      border-radius: 50%;
      color: white;
      text-align: center;

      height: 3.7rem;
      width: 3.7rem;
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      z-index: 99;
      box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
      border: none;

      .plus-button {

        position: relative;
        top: 35%;
        margin: 0;
      }
    }

    .addpost-button:hover {
      cursor: pointer;
      background-color: #e84e46;
      transition: background-color 0.2s;
    }
  }
}
