@import "../../../../scss/variables";
@import "../../../../scss/media-queries";

.home {
  max-width: 120rem;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
                      "header"
                      "content";

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;
  }
}
